.container {
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.create-pin {
  display: flex;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 400px;       /* fixed width */
  height: 150px;      /* fixed height, adjust as needed */
  object-fit: cover;  /* cover to fill area, cropping if needed */
  display: block;     /* removes inline gap below image */
}
.form-section {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.form-title {
  position: absolute;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: bold;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.field label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  font-family: 'Sarabun', sans-serif;
  text-align: justify;
  color: #03AED2; 
}

.field input,
.field textarea,
.field select {
  width: 100%;
  padding: 0.50rem;
  border: 1px solid #03AED2;
  border-radius: 10px;
  font-size: 16px;
  background: #fff;
  color: #333; 
  font-family: 'Sarabun', sans-serif;

}


.field textarea {
  resize: vertical;
  min-height: 100px;
}

.field small {
  color: #03AED2; 
  font-size: 12px;
}

.publish-button {
  background-color: #03AED2;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  align-self: flex-end;
}

.publish-button:hover{
  background-color: #019dbc;
}

.cancel-button{
  background-color: #ccc; 
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  align-self: flex-end;
}

.cancel-button:hover{
    background-color: #bbb;    
}

.date-range {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

.date-range .date-input {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.image-error {
  color: red;
  margin-top: 0.5rem;
}
